
<div class="jumbotron">
<% if current_user %>
  Welcome <%= current_user.name %>!
  <img src="<%= current_user.url %>" class="img-circle">
  <%= link_to "Sign Out", signout_path %>

<% else %>
  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>
</div>



