<center>
  <div class="jumbotron how_it_works" style="max-width: 400px">

      <p>Search for songs that you want your friends to hear</p>
      <p>Add songs to your friends playlist</p>
      <p>Send party attendees a link to add songs to the party playlist!</p>
      <p></p>
        <a href= "#" class="btn btn-success" role="button">Sign Up!</a>
  </div>
</center>
