<center>
  <div class="jumbotron how_it_works" style="max-width: 400px">

    <% if current_user %>
      <img src="<%= current_user.url %>" class="img-circle"><br>
      <h4>Welcome <%= current_user.name %> !</h4>
      <a href= "<%= signout_path %>" class="btn btn-success" role="button">Sign Out</a>
    <% else %>
      <p>Search for songs that you want your friends to hear</p>
      <p>Add songs to your friends playlist</p>
      <p>Send party attendees a link to add songs to the party playlist!</p>
      <p></p>
        <a href= "/auth/twitter" class="btn btn-success" role="button">Sign Up!</a>
    <% end %>
  </div>
</center>
