<center>
  <div class="jumbotron how_it_works" style="max-width: 400px">

      <p>Search for songs that you want your friends to hear</p>
      <p>Add songs to your friends playlist</p>
      <p>Send party attendees a link to add songs to the party playlist!</p>
      <p></p>
        <% if user_signed_in? %>
          <%= link_to "Sign Out!", destroy_user_session_path, class: "btn btn-success", method: :delete %>
          <% else %>
        <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-success" %>
        <% end %>
  </div>
</center>
