
<h3 style="color: white">My Playlist</h3>
<div class="container">

  <table class="table search_results">
    <% @songs.each do |song| %>
  <tr>
    <td>
      <iframe src="https://embed.spotify.com/?uri=<%= song.song_uri %>" width="350" height="80" frameborder="0" allowtransparency="true"></iframe>
    </td>
    <td>
       <%= link_to 'delete', song, :method => :delete, :class => "btn btn-lg btn-success"%>
    </td>
  </tr>
    <% end %>
</table>

</div>
